html, body {
   background-image: url(https://media.giphy.com/media/1PgPvWLfXGkCY/giphy.gif);
   background-size: cover;
   background-color: white;
   z-index: -2;

}

.container {
    height: 20em;
    text-align: center;
}

hr, p {
    max-width: 25em;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    margin: 40px auto;
    line-height: 145%;
    font-size: 1.5em;
    font-variant: small-caps;
    z-index: -1;
}

#btn {
    text-decoration: none;
    opacity: 0.6; 
    background-color: black;
    color: white; 
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    transition: 0.5s;
    align-content: center;
}
